*,
html {
    margin: 0;
    padding: 0;
}

body {}
    

.container-navbar {
    background-color: rgb(255, 0, 195);
    width: 100%;
    height: 20%;
}
.ul-navbar {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.li-navbar{
    font-size: 50px;
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
}

.container-content {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img-content {
    width: 40%;
    height: 40%;
}

.container-footer{
    background-color: rgb(214, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer{
    font-size: 40px;
}